################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Abusa-OS/DesignTimeBuild
/.vs/Abusa-OS/FileContentIndex
/.vs/Abusa-OS/FileContentIndex
/.vs
/AbusaOS/bin
/AbusaOS/bin/Debug/net6.0/ISO/boot/AbusaOS.bin
/AbusaOS/bin/Debug/net6.0/AbusaOS.asm
/AbusaOS/bin/Debug/net6.0/AbusaOS.cdb
/AbusaOS/bin/Debug/net6.0/AbusaOS.dll
/AbusaOS/bin/Debug/net6.0/AbusaOS.log.html
/AbusaOS/bin/Debug/net6.0/AbusaOS.bin
/AbusaOS/bin/Debug/net6.0/AbusaOS.iso
/AbusaOS/bin/Debug/net6.0/AbusaOS.obj
/AbusaOS/bin/Debug/net6.0/AbusaOS.pdb
/AbusaOS/bin/Debug/net6.0/XSharp.Assembler.log
